<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Book Trading</a>
        </div>

        <div id="navbar-main" class="navbar-collapse collapse" uib-collapse="isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()"><a href="/register">Sign up</a></li>
                <li ng-hide="isLoggedIn()"><a href="/login">Login</a></li>


                <li ng-show="isLoggedIn()"><a href="/profile/books">My Books</a></li>
                <li ng-show="isLoggedIn()"><a href="/profile">{{getCurrentUser().username}}</a></li>
                <li ng-show="isLoggedIn()"><a href="/logout">Logout</a></li>
            </ul>
        </div>

    </div>
</div>