<div ng-repeat="book in filteredBooks track by $index">
    <h2>{{book.volumeInfo.title}}</h2>
    <p><span ng-repeat="author in book.volumeInfo.authors">{{$first ? '' : $last ? ' and ' : ', '}}{{author}}</span></p>
    <small>{{book.volumeInfo.publisher}}, {{book.volumeInfo.publishedDate}}</small>
    <p>{{book.volumeInfo.description}}</p>
    <a ng-href="{{book.volumeInfo.previewLink}}"><img ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}"
                                                      alt="{{book.volumeInfo.title}}"></a>
    <p>{{bookObjects[$index].username}} has this book.</p>
    <div ng-if="mybooks">
        <button class="btn" ng-click="trade(bookObjects[$index], bookObjects[$index].selectedBook)">Trade</button>
        <select ng-model="bookObjects[$index].selectedBook">
            <option value="{{mybook._id}}" ng-repeat="mybook in mybooks">{{mybook.title}}</option>
        </select>
    </div>
</div>

<!--<div ng-repeat="book in filteredBooks">-->
<!--{{book}}-->
<!--</div>-->


<uib-pagination ng-model="page" total-items="books.length" items-per-page="pageSize" ng-change=""></uib-pagination>