<h2>Books I want</h2>
<ul>
    <li ng-repeat="trade in trades">
        {{trade.title}} (user <em>{{trade.username}}</em>)
    </li>
</ul>

<h2>Books I own</h2>
<ol>
    <li ng-repeat="book in books">
        {{book.title}}
        <button ng-click="delete(book)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
        <div ng-if="book.requester">
            <strong>{{book.requester.username}}</strong> wants to trade <strong><em>{{book.book.title}}</em></strong> for this book.
            <is-accepted></is-accepted>
            <button ng-click="accept(book)" class="btn btn-success" ng-hide="book.accepted">Accept</button>
        </div>
    </li>
</ol>

<h3>Find your books</h3>
<form ng-submit="search(title)">
    <div class="form-group">
        <label>Search</label>
        <div class="input-group">
            <input class="form-control" type="text" name="title" placeholder="book title" ng-model="title">
            <div class="input-group-btn">
                <button ng-disabled="!title || searching" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
</form>

<div ng-show="searching">Loading...</div>

<div ng-repeat="book in searchResults">
    <h2>{{book.volumeInfo.title}}</h2>
    <p><span ng-repeat="author in book.volumeInfo.authors">{{$first ? '' : $last ? ' and ' : ', '}}{{author}}</span></p>
    <small>{{book.volumeInfo.publisher}}, {{book.volumeInfo.publishedDate}}</small>
    <p>{{book.volumeInfo.description}}</p>
    <a ng-href="{{book.volumeInfo.previewLink}}"><img ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}"
                                                      alt="{{book.volumeInfo.title}}"></a>
    <button class="btn" ng-click="create(book)">I have this book!</button>
</div>