<h1>Profile</h1>

<label>Username</label>
<p>{{user.username}}</p>

<form class="" ng-submit="save()">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" ng-model="user.name">
    </div>
    <div class="form-group">
        <label>City</label>
        <input class="form-control" type="text" ng-model="user.city">
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Save</button>
    </div>
</form>