<h1>Sign up</h1>
<form ng-submit="register()">
    <div class="form-group">
        <label>Username</label>

        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
            <input class="form-control" type="text" name="username" placeholder="username" ng-model="username">
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>

        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <input class="form-control" type="password" name="password" placeholder="password" ng-model="password">
        </div>
    </div>
    <button class="btn btn-success"><i class="glyphicon glyphicon-log-in"></i> Register</button>
</form>